:root{--text-shadow:-0.5px 0.5px 1.8px #00000066;--text-color:#343945}*{margin:0;padding:0;box-sizing:border-box;font-family:'Playfair Display',serif;scroll-behavior:smooth}::-webkit-scrollbar{width:7px}::-webkit-scrollbar-thumb{background-color:#343945}section{height:100vh}#loading{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}#loadingpage h2{font-size:small;font-weight:900;color:var(--text-color);text-shadow:var(--text-shadow);letter-spacing:5px;font-family:nunito,sans-serif}#loadingpage img{height:200px;text-align:center}#loading div{display:flex;flex-direction:column;align-items:center;margin-top:-52.5px}#main{background-image:url(assets/1543178897.svg);background-repeat:no-repeat;background-position:bottom}nav{display:flex;justify-content:space-around;align-items:center;min-height:10vh;background-color:#fff;width:100%;position:fixed;box-shadow:0 2px 4px #00000029}nav ul li{display:inline-block;margin-left:50px;list-style:none;font-size:65%;font-weight:700}nav a{text-align:center;text-decoration:none;color:var(--text-color);letter-spacing:3px;text-shadow:var(--text-shadow)}nav a::after{content:"";display:block;height:1.5px;box-shadow:-.5px .5px 1.8px #000;opacity:.7;background-color:#000;transform:scaleX(0);transform-origin:right;transition:transform .4s ease-out}nav a:hover::after{height:1.5;transform:scaleX(1);transform-origin:left;transition:transform .2s ease-in}.burger{display:none}main{display:flex;flex-wrap:wrap;align-items:center;height:100%}h1{font-size:100%;letter-spacing:5px;text-shadow:var(--text-shadow)}.profilepic{margin:3% 0 0 20%}.about .img,.profilepic img{object-fit:cover;border:4px solid var(--text-color);box-shadow:0 2px 11px #00000073}.call h2,.call p{letter-spacing:5px;color:#000;text-shadow:-.5px .5px 1.8px #00000066}.call h2{line-height:45px}.call p{line-height:35px;font-family:nunito}.btn,.buttons button,.submit{font-size:9.5px;font-weight:300;background-color:#343945;color:#fff;font-variant-caps:all-petite-caps;letter-spacing:2px;width:25%;text-align:center;height:20px;border:2.5px solid #000;box-shadow:0 2px 5px #00000073;transition:all .6s;cursor:pointer;margin:15px 20px 0 0}.btn:hover,.submit:hover{background-color:#f0f8ff;font-weight:900;color:#000}.projects{height:100%;display:flex;justify-content:center;align-items:center;flex-wrap:wrap}.projects div{text-align:center;max-width:250px;max-height:min-content;min-height:25rem;box-shadow:0 10px 20px rgb(0 0 0 / 66%),0 10px 20px rgb(0 0 0 / 20%) inset;background-color:rgba(255,255,255,.76);border:2px solid var(--text-color);margin:20px;padding:7.5px;box-sizing:content-box}.portfolio img{width:100%;height:10rem;object-fit:cover;cursor:pointer}.portfolio h2{font-weight:900;letter-spacing:4px;font-variant:all-petite-caps;text-shadow:-.5px .5px 1.8px #00000066;font-size:medium}.portfolio p{text-align:left;font-size:12px;font-family:Nunito;text-shadow:-.5px .5px 1.8px #00000066;font-weight:300;line-height:18px}section.about{display:flex;align-items:center;justify-content:space-evenly;flex-wrap:wrap;background-image:url(assets/20998787.svg);background-size:65%;background-repeat:no-repeat}.about div{max-width:50%;min-height:fit-content;margin-right:25px}.about div h2{margin-bottom:10px;letter-spacing:4px;font-size:medium;font-weight:900}.about div h2,.about div p{color:var(--text-shadow);text-shadow:-.5px .5px 1.8px #00000066;line-height:25px}.about div{min-height:fit-content;padding:5px}.about img{border:3px solid #000;box-shadow:0 2px 5px #00000073;object-fit:cover}img.large{height:200px;width:130px}img.medium{width:80px;height:115px}img.small{height:90px;width:60px}img.small.pic1{position:relative;left:200px}img.small.pic2{position:relative;top:180px;left:64.4%}img.medium.pic1{position:relative;top:120px;left:4px}img.medium.pic2{position:relative;left:54px;top:.5px}img.medium.pic3{position:relative;top:204.5px;left:9.5%}img.medium.pic4{position:relative;top:84.5px;left:18.5%}img.large.pic1{position:relative;left:60.75%;top:-118px}img.large.pic2{position:relative;left:14.25%;top:1px}.contact{display:flex;justify-content:center;align-items:center;background-image:url(assets/Cranes-Flying-In-Formation-Silhouette.svg);background-repeat:repeat-x;background-position:bottom;background-size:50%}.contact-content{background-color:#343945;width:50%;text-align:center;min-height:55%;box-shadow:0 2px 11px #00000073;border-radius:3px}.contact-content h2{text-align:center;color:#fff;font-weight:100;letter-spacing:3px;margin:10px}form{width:80%;height:70%;background-color:#fff;box-shadow:0 2px 11px #00000073 inset;padding:10px;margin:auto;border-radius:5px}.form-group{text-align:left}.form-group label{font-variant:all-petite-caps;font-weight:500}input,textarea{width:100%;resize:none}.submit{width:15%;opacity:1}#successMessage{display:none}.center{display:contents}.icons{display:flex;justify-content:space-evenly;margin:20px 0}@media only screen and (min-width:0px) and (max-width:425px){*{border-radius:5px}#main{height:fit-content}body{padding:0 10px}nav{display:flex;justify-content:space-between;align-items:center;padding:1rem;background-color:#fff}nav ul{display:flex;justify-content:space-between;align-items:center;list-style:none}nav ul li{display:none;margin:0 1rem}nav ul li a{text-decoration:none;color:#333;font-weight:700;text-transform:uppercase}.burger{display:block;cursor:pointer;z-index:999;position:relative}.burger .line1,.burger .line2,.burger .line3{width:25px;height:3px;background-color:#333;margin:5px;transition:transform .2s ease-in-out}.menu{position:fixed;top:0;right:0;height:100vh;width:50vw;max-width:500px;background-color:#fff;border:1px solid #333;padding:1rem;z-index:-1}.menu ul{list-style:none;margin:55px 0;padding:0;align-items:end}.menu ul li{display:block;margin-bottom:3rem}.menu ul li a{font-size:larger;color:#333;text-decoration:none;font-weight:700}.burger{display:block}.menu{display:none}nav{flex-direction:column}.menu ul{display:flex;flex-direction:column}.profilepic img{width:100%}.profilepic{margin:0}section#portfolio{height:fit-content}.buttons button{margin:10px 0;width:100%;height:50px}.projects div{max-width:fit-content;margin:10px 0}section.about{background-size:cover;background-position:center;background-repeat:no-repeat;height:fit-content}.about div{flex-wrap:wrap;width:100%;max-width:fit-content;padding:0;margin:0}.about img{width:100%;margin:5px}.grid img{width:100%;object-fit:cover;margin:0;height:250px}img#img1.small.pic1,img#img2.small.pic2,img#img3.medium.pic1,img#img4.medium.pic2,img#img5.medium.pic3,img#img6.medium.pic4,img#img7.large.pic1,img#img8.large.pic2{position:static}.contact{background-size:100%;background-position:center;padding:10px 0}.contact-content{width:100%;height:100%}form{height:fit-content;width:100%;box-shadow:none;border-radius:0}form label{font-size:25px}form input,textarea{margin:10px 0;font-size:20px;border:1px solid #343945}textarea{height:100px}.submit{width:100%;height:50px}button.btn{font-size:15px}.grid{margin:0;padding:0}img#img3{display:none}img#img4,img#img5,img#img6,img#img7,img#img8{height:30vh;width:100%;margin:0}}@media only screen and (min-width:426px)and (max-width:700px){*{border-radius:5px}body{padding:0 10px}.profilepic{margin:auto;width:-webkit-fill-available}.profilepic img{width:100%;width:-webkit-fill-available}nav{position:sticky;border-radius:0}nav ul li{display:none}#main{height:fit-content}nav{display:flex;justify-content:space-between;align-items:center;padding:1rem;background-color:#fff}nav ul{display:flex;justify-content:space-between;align-items:center;list-style:none}nav ul li{margin:0 1rem}nav ul li a{text-decoration:none;color:#333;font-weight:700;text-transform:uppercase}.burger{display:block;cursor:pointer;z-index:999;position:relative}.burger .line1,.burger .line2,.burger .line3{width:25px;height:3px;background-color:#333;margin:5px;transition:transform .2s ease-in-out}.menu{position:fixed;top:0;right:0;height:100vh;width:50vw;max-width:500px;background-color:#fff;border:1px solid #333;padding:1rem;z-index:-1}.menu ul{list-style:none;margin:55px 0;padding:0;align-items:end}.menu ul li{display:block;margin-bottom:3rem}.menu ul li a{font-size:larger;color:#333;text-decoration:none;font-weight:700}.burger{display:block}.menu{display:none}nav{flex-direction:column}.menu ul{display:flex;flex-direction:column}.main{padding:40px 0}.buttons button{height:50px;width:100%}button.btn{font-size:large}img#img1,img#img2,img#img3,img#img4,img#img5,img#img6,img#img7,img#img8{width:30%;height:200px}.projects div{max-width:100%;margin:10px 0}section#portfolio{height:fit-content}section.about{background-size:cover;background-position:center;background-repeat:no-repeat;height:fit-content}.about div{flex-wrap:wrap;width:100%;max-width:fit-content;padding:0;margin:0}.about img{width:100%;margin:5px}.grid img{width:100%;height:fit-content}img#img1.small.pic1,img#img2.small.pic2,img#img3.medium.pic1,img#img4.medium.pic2,img#img5.medium.pic3,img#img6.medium.pic4,img#img7.large.pic1,img#img8.large.pic2{position:static}.contact{padding:10px 0}.contact-content{width:-webkit-fill-available;height:fit-content}.contact-content h2{margin:4%}.submit{width:50%;height:50px}label{font-size:25px}input,textarea{font-size:15.5px;height:50px;border:1px solid #000}textarea{height:100%}.form-group{height:75px;margin:10px 0}.submit{font-size:x-large}}@media only screen and (min-width:701px){main{justify-content:center;flex-wrap:nowrap;height:fit-content}div.profilepic{margin:0}nav{position:sticky}.menu{display:none}.profilepic img{width:250px;height:400px;margin:18px 0 0 10px}.about .img{width:200px;height:350px}.call{margin-left:70px}.projects div{width:40%;max-width:fit-content}section#portfolio{height:fit-content}section.about{background-size:cover;background-position:center;background-repeat:no-repeat;height:fit-content;padding:5px 5%}.about div{flex-wrap:wrap;width:100%;max-width:fit-content;padding:0;margin:0;display:flex;justify-content:space-evenly}.about img{width:100%;margin:5px}.grid img{width:100%;height:fit-content}img#img1.small.pic1,img#img2.small.pic2,img#img3.medium.pic1,img#img4.medium.pic2,img#img5.medium.pic3,img#img6.medium.pic4,img#img7.large.pic1,img#img8.large.pic2{position:static;height:25rem;width:42%}.contact-content{width:90%}}

@media only screen and (min-width: 0px) and (max-width: 425px) {
    *{
        border-radius: 5px;
    }
    #main{height: fit-content;}
    body{
        padding: 0px 10px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #fff;
      }
      
      nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
      }
      
      nav ul li {
        display: none;
        margin: 0 1rem;
      }
      
      nav ul li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      .burger {
        display: block;
        cursor: pointer;
        z-index: 999;
        position: relative;
      }
      
      .burger .line1, .burger .line2, .burger .line3 {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px;
        transition: transform 0.2s ease-in-out;
      }
      
      .change .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      
      .change .line2 {
        opacity: 0;
      }
      
      .change .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
      
      .menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50vw;
        max-width: 500px;
        background-color: #fff;
        border: 1px solid #333;
        padding: 1rem;
        z-index: -1;
      }
    
      .menu ul {
        list-style: none;
        margin: 55px 0px;
        padding: 0;
        align-items: end;
      }
      
      .menu ul li {
        display: block;
        margin-bottom: 3rem;
      }
      
      .menu ul li a {
        font-size: larger;
        color: #333;
        text-decoration: none;
        font-weight: bold;
      }
      

        .burger {
          display: block;
        }
        .menu {
          display: none;
        }
        nav {
          flex-direction: column;
        }
        .menu.show {
          display: block;
        }
        .menu ul {
          display: flex;
          flex-direction: column;}
         
    .profilepic img{
        width: 100%;
    }
    .profilepic{
        margin: 0
    }
    section#portfolio{height: fit-content;}
    .buttons button{
    margin: 10px 0px;
    width: 100%;
    height: 50px}
    .projects div{
        max-width: fit-content;
        margin: 10px 0;
    }
    section.about{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    }
    .about div{
        flex-wrap: wrap;
        width: 100%;
        max-width: fit-content;
        padding: 0;
        margin: 0;
    }
    .about img{
        width: 100%;
        margin: 5px;
        
    }
    .grid img{
        width: 100%;
        object-fit: cover;
        margin: 0;
        height: 250px;
    }
    img#img1.small.pic1, img#img2.small.pic2,img#img3.medium.pic1,img#img4.medium.pic2,img#img5.medium.pic3,img#img6.medium.pic4,img#img7.large.pic1,img#img8.large.pic2{
        position: static;
    }
    .contact{
        background-size: 100%;
        background-position: center;
        padding: 10px 0px;
    }
    .contact-content{
        width: 100%;
        height: 100%;
    }
    form{
        height: fit-content;
        width: 100%;
        box-shadow: none;
        border-radius: 0;

    }
    form label{
        font-size: 25px;
    }
    form input, textarea{
        margin:10px 0px;
        font-size: 20px;
        border:1px solid #343945;
    }
    textarea{
        height: 100px;
    }
    .submit{
        width: 100%;
        height: 50px;
    }
    button.btn {
        font-size: 15px
    }
    .grid{
        margin: 0;
        padding: 0
    }
    img#img3{
        display: none;
    }
    img#img4,img#img5,img#img6,img#img7,img#img8{
        height: 30vh; width: 100%; margin: 0; }
  }
@media only screen and (min-width: 426px)and (max-width: 700px){
    *{
        border-radius: 5px;
    }
    body{
            padding: 0px 10px;
    }
    .profilepic{
        margin: auto;
        width: -webkit-fill-available;

    }
    .profilepic img{
        width: 100%;
        width: -webkit-fill-available;
    }
    nav{
        position: sticky;
        border-radius: 0;
    }
    nav ul li{
        display: none;
    }
    #main{
        height: fit-content;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #fff;
      }
      
      nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
      }
      
      nav ul li {
        margin: 0 1rem;
      }
      
      nav ul li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      .burger {
        display: block;
        cursor: pointer;
        z-index: 999;
        position: relative;
      }
      
      .burger .line1, .burger .line2, .burger .line3 {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px;
        transition: transform 0.2s ease-in-out;
      }
      
      .change .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      
      .change .line2 {
        opacity: 0;
      }
      
      .change .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
      
      .menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50vw;
        max-width: 500px;
        background-color: #fff;
        border: 1px solid #333;
        padding: 1rem;
        z-index: -1;
      }
    
      .menu ul {
        list-style: none;
        margin: 55px 0px;
        padding: 0;
        align-items: end;
      }
      
      .menu ul li {
        display: block;
        margin-bottom: 3rem;
      }
      
      .menu ul li a {
        font-size: larger;
        color: #333;
        text-decoration: none;
        font-weight: bold;
      }
      

        .burger {
          display: block;
        }
        .menu {
          display: none;
        }
        nav {
          flex-direction: column;
        }
        .menu.show {
          display: block;
        }
        .menu ul {
          display: flex;
          flex-direction: column;}
         
      
    .main{
        padding: 40px 0px;
    }

    .buttons button{
        height: 50px;
        width: 100%;
    }
    button.btn{
        font-size: large;
    }
    img#img1,img#img2,img#img3,img#img4, img#img5, img#img6,img#img7,img#img8{ 
    width: 30%;
    height: 200px;
}
    .projects div{
        max-width: 100%;
        margin: 10px 0px
    }
    section#portfolio {
        height: fit-content;
    }
    section.about{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: fit-content;
        }
        .about div{
            flex-wrap: wrap;
            width: 100%;
            max-width: fit-content;
            padding: 0;
            margin: 0;
        }
        .about img{
            width: 100%;
            margin: 5px;
            
        }
        .grid img{
            width: 100%;
            height: fit-content;
        }
        img#img1.small.pic1, img#img2.small.pic2,img#img3.medium.pic1,img#img4.medium.pic2,img#img5.medium.pic3,img#img6.medium.pic4,img#img7.large.pic1,img#img8.large.pic2{
            position: static;
        }
    .contact{
        padding: 10px 0px;
    }
    .contact-content{
        width: -webkit-fill-available;
        height: fit-content    }
    .contact-content h2{
        margin: 4%
    }
    .submit {
        width: 50%;
        height: 50px;
    }

    label{
        font-size: 25px;
    }
    input, textarea{
        font-size:15.5px;
        height: 50px;
        border: 1px solid black;
    }
    textarea{
        height: 100%;
    }
    .form-group {
        height: 75px;
        margin: 10px 0px;
}
    .submit{font-size:x-large;}
}
@media only screen and (min-width: 701px){
    main{justify-content: center; flex-wrap: nowrap;
        height: fit-content;}
    div.profilepic {margin:0}
    nav{position: sticky;}
    .menu{
        display: none;
    }
    .profilepic img {
        width: 250px;
    height: 400px;
    margin: 18px 0px 0px 10px;
    }
    .about .img{
        width: 200px;
        height: 350px;
    }
    .call {
        margin-left: 70px;
    }
    .projects div{
        width: 40%;
        max-width: fit-content;
    }
    section#portfolio {
        height: fit-content;
    }
    section.about{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: fit-content;
        padding: 5px 5%;
        }
        .about div{
            flex-wrap: wrap;
            width: 100%;
            max-width: fit-content;
            padding: 0;
            margin: 0;
            display: flex;
    justify-content: space-evenly;
        }
        .about img{
            width: 100%;
            margin: 5px;
            
        }
        .grid img{
            width: 100%;
            height: fit-content;;
        }
        img#img1.small.pic1, img#img2.small.pic2,img#img3.medium.pic1,img#img4.medium.pic2,img#img5.medium.pic3,img#img6.medium.pic4,img#img7.large.pic1,img#img8.large.pic2{
            position: static;
            height: 25rem;
            width: 42%;
        }

        .contact-content{
            width: 90%
        }
    
}
@media only screen and (min-width: 747px){
.projects{
    flex-wrap: nowrap;
}
.projects div{    width: 30%;
    height: 400px;
    overflow: scroll;
}
.call{
    width: 40%;
}
section.about{
    flex-wrap: nowrap;
}
.about div{
    flex-wrap: nowrap;
    width: 100%;
    width: 100%;
    max-width: none;
    padding: none;
    margin: 0;
    display: block;
    margin-right: 2%;
}
img#img1.small.pic1, img#img2.small.pic2, img#img3.medium.pic1, img#img4.medium.pic2, img#img5.medium.pic3, img#img6.medium.pic4, img#img7.large.pic1, img#img8.large.pic2{
    width: 125px;
    height: 125px;
}
}
@media only screen and (min-width: 900px){
    main{
        height: 100%
    }
    .contact-content{
        width: 60%
    }
    img#img1.small.pic1, img#img2.small.pic2, img#img3.medium.pic1, img#img4.medium.pic2, img#img5.medium.pic3, img#img6.medium.pic4, img#img7.large.pic1, img#img8.large.pic2 {
        width: 125px;
        height: 125px;
    }
    .about div{
        margin: 0
    }
    section#portfolio, section#about.pageflex.about{
        height: 100vh;
    }
}



img.medium{
width: 65px;
height: 95px;
}
img.large{
    width: 85px;
    height: 145px;
}
img.small:nth-child(1){
    position: relative;
    top: 40px;
    left: 100px
}
img.small:nth-child(2){

    position: relative;
    top: 40px;
    left: 267px;
}
img.medium:nth-child(4) {
    position: relative;
    top: -199px;
    left: 158px;
}
img.medium:nth-child(3) {
    position: relative;
    top: 60px;
    left: 23px;
}
img.medium.pic3 {
    position: relative;
    top: -88.5px;
    left: -38px;
}
img.large.pic1 {
    top: 106px;
    position: relative;
    left: -211px;
    top: -px;
}